@media (max-width: 1024px){
    /* ბურგერს ძალიან ადრე იწყებ მგონია. 
        სანამ შესაძლებელია დატოვება ნორმალური მენიუსი, ჯობს დარჩეს.
    */
    .burger-icon {
        display: block;
        font-weight: bold;
        color: #A6ADB4;
        font-size: 30px;
        margin-right: 20px;
    }
    nav ul :nth-child(1) {
        color: #A6ADB4;
    }
    nav ul {
        display: none;
    }
}